.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.example-form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.label-price-wrapper{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.sendBtn-wrapper{
    display: flex;
    justify-content: center;
}

.sendBtn{
    width: 150px;
    height: 40px;
}

.isSale{
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
}

.datepicker-from{
    width: 300px;

}